:root {
    --logo-color:#95E1D3;
    --maim-text-color--: #B6B6B6;
    --title-color--: #333;
}

.logo, nav {
    color: var(--logo-color);
}
body {
    font-family: "Monserrat", sanr-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header */
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    color: var(--logo-color);
    font-size: 30px;
    font-weight: 700;
}
.header__nav-list {
}
.nav__list {
}
.header__nav-item {
}
.header__nav-link {
    color: var(--logo-color);
    font-size: 14px;
    font-weight: 400;
}
.header__nav-link:hover, .header__nav-link:focus {
    color: red;

}

.services__text {
    font-family: "Kaushan Script", sans-serif;
}